extends layout

block content
  h1= title

  - let kidid = toShow._id
  - let age = toShow.age
  - let nationality = toShow.nationality
  - let blood_group = toShow.blood_group 

  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{kidid} 
  - let actionid = "/resource/kid/" + kidid 
  form(id='kidForm', action= actionid, method="PUT") 
    div.form-group 
      label.kidAttr(for='age') kid age
      input#age(type='number', name='age', value= age ) 
    div.form-group 
      label.kidAttr(for='nationality') kid nationality
      input#nationality(type='text', name='nationality', value= nationality ) 
    div.form-group 
      label.kidAttr(for='blood_group') kid blood_group
      input#blood_group(type='text', name='blood_group', value= blood_group ) 
    input(type="submit") 
 
 
  script.
    document.forms['kidForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 